<mat-toolbar class="nav">
  <mat-toolbar-row class="nav-row">

    <img
      src="../../../assets/logo.svg"
      alt=""
      routerLink="/"
      class="nav-logo"
      *ngIf="!(auth.user | async)"
    >

    <img
      src="../../../assets/logo.svg"
      alt=""
      routerLink="/dashboard"
      class="nav-logo"
      *ngIf="(auth.user | async)"
    >

    <span class="spacer"></span>

    <button
      mat-button
      [routerLink]="['sign-up']"
      *ngIf="!(auth.user | async)"
    >
      Sign Up
    </button>

    <button
      mat-button
      [routerLink]="['sign-in']"
      *ngIf="!(auth.user | async)"
    >
      Sign In
    </button>

    <button
      class="button-icon"
      [routerLink]="['post', 'new']"
      *ngIf="(auth.user | async)"
      mat-button
    >
      <mat-icon class="a-icon">
        add
      </mat-icon>
    </button>

    <button
      [routerLink]="['profile']"
      *ngIf="(auth.user | async)"
      mat-button
    >
      <div
        class="user-avatar button-avatar"
        [ngStyle]="{'background-image': 'url(' + (auth.user | async)?.photoURL + ')'}"
      ></div>

      {{ (auth.user | async)?.displayName }}
    </button>

  </mat-toolbar-row>
</mat-toolbar>
