<mat-card class="auth-form">
  <div class="sign-up-form">
    <h1>Sign up</h1>

    <button mat-button color="primary"
      type="button"
      name="button"
      [routerLink]="['../', 'sign-in']"
    >
      Already have account? Sign in!
    </button>

    <form [formGroup]="userForm" (ngSubmit)="signUp()">
      <mat-form-field class="full-width">
        <input
          matInput type="text"
          formControlName="name"
          placeholder="Name"
          required
        >
        <div class="sm-text is-danger" *ngIf="formErrors.name">
          {{ formErrors.name }}
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput type="email"
          formControlName="email"
          placeholder="Email"
          required
        >
        <div class="sm-text is-danger" *ngIf="formErrors.email">
          {{ formErrors.email }}
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput type="password"
          formControlName="password"
          placeholder="Password"
          required
        >
        <div class="sm-text is-danger" *ngIf="formErrors.password">
          {{ formErrors.password }}
        </div>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        name="button"
        [disabled]="!userForm.valid"
      >
        Sign Up
      </button>
    </form>
  </div>
</mat-card>
