<div class="container">
  <div class="picture-container">
    <img class="picture" src="{{ data.photoURL }}" alt="">
  </div>

  <div class="details">
    <div *ngFor="let user of data.users">
      <div class="details__user" *ngIf="user.uid === data.userUid">
        <div
          class="user-avatar feed-avatar"
          [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"
        ></div>
        <p class="details__user__name">{{ user.displayName }}</p>
      </div>
    </div>

    <p *ngIf="!data.description" class="description">...</p>
    <p *ngIf="data.description" class="description">{{ data.description }}</p>
    <p class="details__date">{{ data.date | date:'MMM d, y, h:mm' }}</p>
  </div>

</div>

