<div class="container">
  <div class="picture-container">
    <img class="picture" src="{{ data.photoURL }}" alt="">
  </div>

  <div class="details">
    <div class="details__user">
      <!-- <div
        class="user-avatar feed-avatar"
        [ngStyle]="{'background-image': 'url(' + (data.user.photoURL | async) + ')'}"
      ></div> -->

      <!-- NURENDERINK DISPLAYNAME -->

      <p class="details__user__name">{{ (data.user | async)?.displayName }}</p>
    </div>

    <p *ngIf="!data.description" class="description">...</p>
    <p *ngIf="data.description" class="description">{{ data.description }}</p>
    <p class="details__date">{{ data.created_at | date:'MMM d, y, h:mm' }}</p>
  </div>

</div>

