.post-container {
  max-width: 600px;
  margin: 20px auto;
}
.upload-image {
  background-color: #dcdcdc;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  cursor: pointer;
}
img {
  width: 100%;
}
