<mat-card class="post-container">
  <mat-horizontal-stepper #stepper="matHorizontalStepper">

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Upload</ng-template>
      <img *ngIf="post.photoURL" src="{{ post.photoURL }}" alt="">
      <div *ngIf="!post.photoURL" (click)="fileUpload.click()" class="upload-image">
        <h2>Click here to upload image</h2>
        <mat-icon>add</mat-icon>
      </div>
      <input (change)="detectFile($event)" #fileUpload id="hidden-from-screen" type="file">
      <button *ngIf="post.photoURL" (click)="deletePhoto()" mat-mini-fab color="warm">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Description</ng-template>
      <input
        [(ngModel)]="description"
        matInput placeholder="Address"
        required
        value="{{ post.description }}"
      >
      <div>
        <button (click)="detectDescription()" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Post</ng-template>
      <img src="{{ post.photoURL }}" alt="">
      <p>{{ post.description }}</p>
      <div>
        <button
          mat-button
          matStepperNext
          (click)="detectStatus()"
        >
          Post
        </button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</mat-card>
