<!-- <mat-card class="post-container">
  <mat-horizontal-stepper #stepper="matHorizontalStepper">

    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Upload</ng-template>
      <img *ngIf="post.photoURL" src="{{ post.photoURL }}" alt="">
      <div *ngIf="!post.photoURL" (click)="fileUpload.click()" class="upload-image">
        <h2>Click here to upload image</h2>
        <mat-icon>add</mat-icon>
      </div>
      <input (change)="detectFile($event)" #fileUpload id="hidden-from-screen" type="file">
      <button *ngIf="post.photoURL" (click)="deletePhoto()" mat-mini-fab color="warm">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Description</ng-template>
      <input
        [(ngModel)]="description"
        matInput placeholder="Address"
        required
        value="{{ post.description }}"
      >
      <div>
        <button (click)="detectDescription()" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Post</ng-template>
      <img src="{{ post.photoURL }}" alt="">
      <p>{{ post.description }}</p>
      <div>
        <button
          mat-button
          matStepperNext
          (click)="detectStatus()"
        >
          Post
        </button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</mat-card> -->

<mat-card class="post-container">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="1.Upload" disabled>
      <div class="step-container">
        <p class="hint">Click below and upload any picture you want!</p>
        <img
          *ngIf="post.photoURL"
          src="{{ post.photoURL }}"
          class="upload-image"
          alt=""
        >

        <div
          *ngIf="!post.photoURL"
          (click)="fileUpload.click()"
          class="default-image">
        </div>

        <input (change)="detectFile($event)" #fileUpload id="hidden-from-screen" type="file">

        <div *ngIf="post.photoURL" class="button-container">
          <button (click)="deletePhoto()" mat-button class="button-icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            class="custom-button"
            mat-raised-button
            color="primary"
            (click)="openNextStep()"
          >
            Next
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="2.Comment" disabled>
      <div class="step-container">
        <p class="hint">Write down all your ideas here!</p>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Describe your post"
            [(ngModel)]="description"
            value="{{ post.description }}">
          </textarea>
        </mat-form-field>
        <div class="button-container">
          <button
            class="custom-button"
            mat-raised-button color="primary"
            (click)="openPreviousStep()"
          >
            Back
          </button>
          <button
            class="custom-button"
            mat-raised-button color="primary"
            (click)="detectDescription(); openNextStep()"
            matTabsNext
          >
            Next
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="3.Share" disabled>
      <div class="step-container">
        <p class="hint">Review your post and share it with others!</p>
        <img
          *ngIf="post.photoURL"
          src="{{ post.photoURL }}"
          class="upload-image"
          alt=""
        >

        <div class="details__user">
          <div
            class="user-avatar"
            [ngStyle]="{'background-image': 'url(' + (_auth.user | async)?.photoURL + ')'}"
          ></div>
          <p class="details__user__name">{{ (_auth.user | async)?.displayName }}</p>
        </div>

        <p *ngIf="!post.description" class="description">...</p>
        <p *ngIf="post.description" class="description">{{ post.description }}</p>

        <div class="button-container">
          <button
            class="custom-button"
            mat-raised-button
            color="primary"
            (click)="openPreviousStep()"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="detectStatus()"
          >
            Share!
          </button>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-card>
