.profile-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.change-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}
.profile-name {
  font-size: 3rem;
  margin: 0;
  margin-right: 10px;
}
.input-name {
  font-size: 3rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}
div.mat-input-infix {
  padding: 0;
  border-top: none;
}
.input-name input {
  border: none;
  font-size: 3rem;
  font-weight: 700;
  max-width: 300px;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.profile-picture {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 10px solid #f1f1f1;
}
.profile-picture--private {
  &:hover {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #00000018;
      position: absolute;
      z-index: 1;
    }
    &::after {
      content: "";
      background-image: url('../../assets/camera.svg');
      width: 100%;
      height: 100%;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
    }
  }
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.button-picture {
  position: absolute;
  top: 0;
}

