<mat-card class="profile-container">

  <div *ngIf="user">
    <div class="change-name" *ngIf="!editable">
      <h1 class="profile-name">{{ user?.displayName }}</h1>
      <button
        *ngIf="user.uid === (auth.user | async)?.uid"
        (click)="toggleName()"
        mat-button class="button-icon"
      >
        <mat-icon class="a-icon">edit</mat-icon>
      </button>
    </div>

    <div class="input-name" *ngIf="editable">
      <input
        autofocus="editable"
        type="text"
        required
        [(ngModel)]="user.displayName"
      >
      <button (click)="saveName()" mat-button>
        Save
      </button>
    </div>

    <div *ngIf="user.uid === (auth.user | async)?.uid">
      <button
        mat-button
        *ngIf="(auth.user | async)"
        (click)="signOut()"
      >
        <mat-icon class="a-icon">exit_to_app</mat-icon>
        Log out
      </button>
    </div>

  </div>

  <div *ngIf="user">
    <div class="profile-picture" *ngIf="!(user.uid === (auth.user | async)?.uid)">
      <img src="{{ user.photoURL }}" alt="">
    </div>

    <div
      (click)="fileUpload.click()"
      class="profile-picture profile-picture--private"
      *ngIf="user.uid === (auth.user | async)?.uid"
    >
      <img src="{{ user.photoURL }}" alt="">

      <input
        (click)="detectFile($event)"
        id="hidden-from-screen"
        type="file" #fileUpload
      >
    </div>
  </div>

</mat-card>
