<mat-card class="profile-container">

  <div>
    <div class="change-name" *ngIf="!editable">
      <h1 class="profile-name">{{ user?.displayName }}</h1>
      <button (click)="toggleName()" mat-button class="button-icon">
        <mat-icon class="a-icon">edit</mat-icon>
      </button>
    </div>

    <div class="input-name" *ngIf="editable">
      <input
        autofocus="editable"
        type="text"
        required
        [(ngModel)]="user.displayName"
      >
      <button (click)="saveName()" mat-button>
        Save
      </button>
    </div>

    <button
      mat-button
      *ngIf="(auth.user | async)"
      (click)="signOut()"
    >
      <mat-icon class="a-icon">exit_to_app</mat-icon>
      Log out
    </button>
  </div>

  <div class="profile-picture" *ngIf="user" (click)="fileUpload.click()">
    <img src="{{ user.photoURL }}" alt="">

    <input
      (click)="detectFile($event)"
      id="hidden-from-screen"
      type="file" #fileUpload
    >
  </div>

</mat-card>
