<!-- <section *ngIf="!dashboardPosts" class="collection">
  <div class="collection-item-container" *ngFor="let ghostPost of ghostPosts">
    <div class="collection-item">
      <div class="picture"></div>
    </div>
  </div>
</section> -->

<section *ngIf="dashboardPosts" class="collection">
  <div class="collection-item-container" *ngFor="let post of dashboardPosts | async">
    <div
      class="collection-item"
      (click)="openPostDetails(post, $event)"
      on-mouseover="showLikeComponent($event)"
      on-mouseout="hideLikeComponent($event)">

      <div
        class="picture"
        [ngStyle]="{'background-image': 'url(' + post.photoURL + ')'}">
        <app-like
          [data]="post"
          [ngStyle]="{'display': likeComponent}"
          class="like-component"
        ></app-like>
      </div>

      <div class="details">
        <p *ngIf="!post.description" class="details__description">...</p>
        <p *ngIf="post.description" class="details__description">{{ post.description }}</p>
        <div class="details__info">
          <p>{{ post.likes }} ♥</p>
          <p class="details__info__date">{{ post.created_at | date:'MMM d, y, h:mm'}}</p>
        </div>

        <div class="details__user">
          <div
            class="user-avatar"
            [ngStyle]="{'background-image': 'url(' + (post.user | async)?.photoURL + ')'}">
          </div>
          <p class="details__user__name">{{ (post.user | async)?.displayName }}</p>
        </div>
      </div>

    </div>
  </div>
</section>
