<section *ngIf="!dashboardPosts" class="collection">
  <div class="collection-item-container" *ngFor="let ghostPost of ghostPosts">
    <div class="collection-item">
      <div class="picture"></div>
    </div>
  </div>
</section>

<section *ngIf="dashboardPosts" class="collection">
  <div class="collection-item-container" *ngFor="let post of dashboardPosts">
    <div class="collection-item" (click)="openPostDetails(post)">
      <div
        class="picture"
        [ngStyle]="{'background-image': 'url(' + post.photoURL + ')'}"
      ></div>
      <div class="details">
        <p *ngIf="!post.description" class="details__description">...</p>
        <p *ngIf="post.description" class="details__description">{{ post.description }}</p>
        <p class="details__date">{{ post.date | date:'MMM d, y, h:mm'}}</p>

        <div *ngFor="let user of users">
          <div class="details__user" *ngIf="user.uid === post.user_uid">
            <div
              class="user-avatar"
              [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"
            ></div>
            <p class="details__user__name">{{ user.displayName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


