.collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5px;
  padding: 20px 40px;
}
.collection-item-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-item {
  border: 0 solid #f1f1f1;
  height: 380px;
  width: calc(100% - 20px);
  border-radius: 10px;
  cursor: zoom-in;
  &:hover {
    transition: 0.2s ease-in-out;
    transition: border 0.1s ease-in-out;
    background-color: #f1f1f1;
    border: 10px solid #f1f1f1;
    .collection-item-container {
      padding: 300px;
    }
    .picture::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #00000038;
      position: absolute;
      border-radius: 6px;
    }
  }
}
.picture {
  height: 305px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  background-color: #efefef;
  position: relative;
}
.details {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px;
  color: grey;
}
.details__user {
  display: flex;
  align-items: center;
}
.details__user__name {
  font-size: 0.8rem;
  margin: 0;
}
.details__description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__info {
  font-size: 0.6rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
  .details__info__date {
    margin-left: 10px;
  }
}
.like-component {
  position: absolute;
  top: 0;
}
