@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  padding: 0;
  margin: 0;
}
.spacer {
  flex: 1 1 auto;
}
.a-icon {
  cursor: pointer;
  padding: 0 14px;
}
.full-width {
  width: 100%;
}
.is-danger {
  color: red;
}
.sm-text {
  font-size: 13px;
}
